// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.


@import "../pages/cekjalan/cekjalan";
@import "../pages/add/add";
@import "../pages/edit/edit";

@font-face {
    font-family: 'cac_champagneregular';
    src: url('../../cac_champagne-webfont.eot');
    src: url('../../cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../cac_champagne-webfont.woff') format('woff'),
         url('../../cac_champagne-webfont.ttf') format('truetype'),
         url('../../cac_champagne-webfont.svg#cac_champagneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}